body {
  font-family: sunflower;
  background-color: #36393f;
  color: white;
}

@font-face {
  font-family: sunflower;
  src: url(Sunflower-Light.ttf);
}

h2{
  font-weight: normal;
}

#codeoutput {
  font-family: monospace;
  white-space: pre-line;
  }

.textboxborder {
  max-width: 50%;

  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;

  padding: 1em;
}

