body {
  font-family: sunflower;
  background-color: #36393f;
  color: white;
}

a {
  color: lightskyblue;
}
a:hover {
  color: lightseagreen;
}

@font-face {
  font-family: sunflower;
  src: url(Sunflower-Light.ttf);
}

h2{
  font-weight: normal;
}

#codeoutput {
  font-family: monospace;
  white-space: pre-line;
  }

.textboxborder {
  max-width: 50%;

  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;

  padding: 1em;
}

 /* This styling adds functionality to the collapsible menus. 
    Stolen from https://www.w3schools.com/howto/howto_js_collapsible.asp */
 .collapsible {
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #555;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #556;
} 